body
{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
h1 {
    font-weight: bold;
    margin: 0;
}
p {
    font-size: 12px;
}
a {
    text-decoration: none;
    color:#333;
    font-size: 14px;
    margin: 15px 0 ;
}
.container {
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    background: #fff;
    border-radius:10px ;
    box-shadow: 0 14px 28px rgba(0, 0 , 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}
.overlay-container {
    display: none;
}
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}
.sign-up-container {
    right: 0;
    width: 50%;
    z-index: 1;
    background: #fff;
}
.form-container form {
    height: 100%;
    background: #fff;
    padding:0 50px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social-container {
    margin: 20px 0;
}
.social-container a {
    height: 40px;
    width: 40px;
    border:1px solid #ddd ;
    border-radius:50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}
.form-container input {
    width: 100%;
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin:8px 0 ;
}
button {
    background-color:green;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 45px;
    text-transform: uppercase;
    transition: transform 800ms ease-in;
}
button:active {
    transform: scale(0.95);
}
button:focus {
    outline: none;
}
button.ghost {
    background: transparent;
}
.sign-up-container {
    left: 0;
    opacity: 0;
}
.overlay-container {
    display: block;
    position: absolute;
    z-index: 100;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
}
.overlay {
    position: relative;
    height: 100%;
    width: 200%;
    left: -100%;
    background: linear-gradient(to right, #00b09b, #96c93d) no-repeat
    0 0 / cover;
    color: #fff;
    transform: translateY(0);
    transition: transform 0.6s ease-in-out;
}
.overlay-panel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    transform: translateY(0);
    transition: transform 0.6s ease-in-out;
}
.overlay-panel p{
    padding: 10px 0;
    line-height: 30px;
    font-size: 18px;
}
.overlay-right {
   right: 0;
   transform: translateY(0);
}
.overlay-left {
    transform: translateY(-20%);
}
 .container.right-panel-active {
    & .sign-in-container {
        transform: translateY(100%);
    }

    & .overlay-container {
        transform: translateX(-100%);
    }
 }

 .container.right-panel-active {
    & .sign-up-container {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
    }

    & .overlay {
        transform: translateX(50%);
    }

    & .overlay-right {
        transform: translateY(20%);
    }
 }


 @media(max-width :735px) and (min-width : 500px)
 {
    .form-container form
    {
        padding: 0 20px;
        text-align: center;
    }
    .overlay-left{
        margin-top: 20px;
    }
    .form-container h1
    {
       font-size: 25px;
    }
    .overlay h1
    {
      font-size: 25px;
    }
 
 }
@media(min-width:350px) and (max-width:500px)
{
        .form-container form
    {
        padding: 0 15px;
        text-align: center;
    }
    .overlay-left{
        margin-top: 20px;
    }
  .overlay p
  {
    padding: 0 10px 0 10px;
    font-size: 15px;
  }
  .overlay h1
  {
    padding: 0 20px;
    font-size: 25px;
  }
  .form-container h1
  {
     padding-top: 10px;
     font-size: 25px;
  }
  .form-container p {
    font-size: 15px;
  }
  .social-container a {
    height: 30px;
    width: 30px;
}
button {
    padding: 10px 40px;
    
    }
}
@media(min-width:320px) and (max-width:350px)
{
    .form-container form {
    
        padding: 0 10px;
        text-align: center;   
    }
    .form-container h1
    {
       padding-top: 10px;
       font-size: 25px;
    }
    .form-container p {
        font-size: 15px;
     
    }
    .overlay h1 {
    
        font-size: 25px;
    }
      .overlay p {
    
        padding: 0 10px 0 10px;
        font-size: 15px;
    }
    

    .overlay-left{
        margin-top: 30px;
    }

    button {
    padding: 10px 30px;
    
    }
    .social-container a {
        height: 25px;
        width: 25px;
    }

}


